body {
    margin: 0;
    padding: 50px 0;
    font-family: Times, "Times New Roman", Georgia, serif;
}
p, h2 {
    margin: 0;
}
#file {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#select {
    text-align: center;
    height: 200px;
    border: 2px dashed rgb(123, 130, 145);
    line-height: 196px;
    margin-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(123, 130, 145);
    font-size: 16px;
    cursor: pointer;
}
#select:hover {
    border-color: #3E3F44;
    color: #3E3F44;
}
#select.active {
    color: #28a8d3;
    border-color: #28a8d3;
}
.title {
    color: rgb(105, 108, 116);
    font-size: 16px;
    margin-top: 30px;
}
.title span {
    margin-left: 14px;
    font-size: 12px;
    color: rgb(178, 181, 188);
}
.form > div {
    position: relative;
    padding-right: 100px;
}
input {
    width: 100%;
    display: block;
    font-size: 14px;
    padding: 10px 100px 10px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    color: rgb(105, 108, 116);
    border: 2px solid rgb(221, 222, 226);
    outline: none!important;
    margin-top: 14px;
}
input:hover {
    border-color: #B7B8BE;
}
input:focus {
    border-color: #28a8d3;
}
.form input + div {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 14px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background: #28a8d3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#enter {
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    padding: 7px 18px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgb(30, 193, 133);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#note {
    text-align: center;
    position: fixed;
    top: -30px;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 100%;
}
#note.active {
    opacity: 1;
    top: 0;
}
#note p {
    display: inline-block;
    font-size: 13px;
    background: #fda647;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    padding: 7px 20px 8px;
}

.intr {
    color: #444;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}

#canvas {
    display: inline-block;
    max-width: 98%;
    max-height: 100%;
    vertical-align: middle;
}
#cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
    text-align: center;
    top: 0;
    z-index: 10;
    display: none;
}
#cover:before, #cover:after {
    display: inline-block;
    content: '';
    width: 1%;
    height: 100%;
    vertical-align: middle;
}
#download, #back {
    display: block;
    position: absolute;
    top: 20px;
    padding: 7px 18px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 14px;
}
#download {
    right: 30px;
    text-decoration: none;
    background: #28a8d3;
}
#back {
    left: 30px;
    cursor: pointer;
    background: #fda647;
}

.info {
    background: #f7f8f8;
    color: #696c74;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 40px;
}
.info a {
    color: #696c74;
    text-decoration: underline;
}
