body {
    margin: 0;
    padding: 50px 0;
    font-family: Times, "Times New Roman", Georgia, serif;
}
p, h2 {
    margin: 0;
}
#file {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#select {
    text-align: center;
    height: 200px;
    border: 2px dashed rgb(123, 130, 145);
    line-height: 196px;
    margin-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(123, 130, 145);
    font-size: 16px;
}
.title {
    color: rgb(105, 108, 116);
    font-size: 16px;
    margin-top: 30px;
}
.title span {
    margin-left: 14px;
    font-size: 12px;
    color: rgb(178, 181, 188);
}
.form > div {
    position: relative;
}
input {
    width: 100%;
    display: block;
    font-size: 14px;
    padding: 10px 100px 10px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    color: rgb(105, 108, 116);
    border: 2px solid rgb(221, 222, 226);
    outline: none!important;
    margin-top: 14px;
}
.form input + div {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 2px solid rgb(221, 222, 226);
    padding: 10px;
    font-size: 14px;
    color: rgb(178, 181, 188);
    cursor: pointer;
}
#enter {
    display: inline-block;
    margin-top: 30px;
    padding: 7px 18px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgb(30, 193, 133);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#note {
    text-align: center;
    position: fixed;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
    width: 100%;
}
#note p {
    display: inline-block;
    font-size: 13px;
    background: #fda647;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    padding: 7px 20px 8px;
}

.intr {
    color: #444;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}

#canvas {
    display: block;
    max-width: 100%;
}
#cover {
    margin: 30px 0;
    text-align: center;
}
#cover a {
    display: inline-block;
}

.info {
    background: #f7f8f8;
    color: #696c74;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 40px;
}
.info a {
    color: #696c74;
    text-decoration: underline;
}
