body {
    margin: 0;
}
#file {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#select {
    text-align: center;
    height: 200px;
    border: 2px dashed rgb(123, 130, 145);
    line-height: 196px;
    margin-top: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
